<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= component.name %>
  </title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include("./partials/header", {active:"components"}) %>
    <div class="content-container">
      <div class="component-details-section">
        <%- include("./partials/buttons/back", {link: "/components" }) %>
          <div class="component-name">
            <%= component.name %>
          </div>
          <div class="flex-row">
            <div class="category-chip">
              <%= component.category %>
            </div>
            <div class="quantity-chip">
              <%= component.quantity %> unit<%= component.quantity>1?"s":"" %>
            </div>
          </div>
          <div class="component-description">
            <%= component.description %>
          </div>
          <div class="component-price">
            Rs. <%= component.price %>
          </div>
          <div class="button-group">
            <%- include("./partials/buttons/edit", {id:component.id}) %>
              <%- include("./partials/buttons/delete", {id:component.id}) %>
          </div>
      </div>
    </div>
</body>

</html>