<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robotics Inventory - Components</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include("./partials/header", {active:"components"}) %>
    <div class="content-container">
      <div class="components-section">
        <div class="top-row">
          <div class="section-title">Components Catalog</div>
          <div class="top-row-right">
            <form action="/components" method="GET">
              <div class="field-container" style="background-color: unset;">
                <input type="text" name="search" placeholder="Search">
                <button type="submit" class="icon-button"
                  style="padding-left: 0.5rem !important; padding-right: 0.5rem !important;">
                  <img src="/search-icon-white.svg" alt="Search">
                </button>
              </div>
            </form>
            <%- include("./partials/buttons/add-item", {link : "/components/new" }) %>
          </div>
        </div>

        <% if(locals.componentsCategoryWise) { %>
          <% if(componentsCategoryWise.length===0) { %>
            <div class="empty-alert">No components available yet. Add a new category!</div>
            <% } else { %>

              <% componentsCategoryWise.forEach((componentsPerCategory)=> { %>
                <div class="category-container">
                  <div class="category-title">
                    <%= componentsPerCategory.category %>
                  </div>
                  <div class="components-card-container">
                    <% componentsPerCategory.components.forEach(component=> { %>
                      <%- include("./partials/component-card", {component: component}) %>
                        <% }) %>
                  </div>
                  <% }) %>
                    <%- include("./partials/thats-all-for-now") %>
                      <% } %>
                        <% } %>
                </div>
      </div>
    </div>
</body>

</html>