<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robotics Inventory - Search</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include("./partials/header", {active:"components"}) %>
    <div class="content-container">
      <div class="components-section" style="margin-bottom: 4rem;">
        <div class="top-row">
          <div class="flex-row" style="gap:1rem;">
            <a href="/components" class="icon-button" style="padding: 0.75rem;">
              <img src="/simple-left-arrow-white.svg" alt="Back" style="width:0.5rem;">
            </a>
            <div class="section-title">
              Search Results
            </div>
          </div>

          <div class="top-row-right">
            <form action="/components/search" method="GET">
              <div class="field-container" style="background-color: unset;">
                <input type="text" name="query" placeholder="Search" value="<%= query %>" required>
                <button type="submit" class="icon-button"
                  style="padding-left: 0.5rem !important; padding-right: 0.5rem !important;">
                  <img src="/search-icon-white.svg" alt="Search">
                </button>
              </div>
            </form>
          </div>
        </div>

        <% if(locals.componentsCategoryWise) { %>
          <% if(componentsCategoryWise.length===0) { %>
            <div class="empty-alert">
              No search results found!
            </div>
            <% } else { %>

              <% componentsCategoryWise.forEach((componentsPerCategory)=> { %>
                <div class="category-container" id="category-id-<%= componentsPerCategory.category_id %>">
                  <div class="category-title">
                    <%= componentsPerCategory.category %>
                  </div>
                  <div class="components-card-container">
                    <% componentsPerCategory.components.forEach(component=> { %>
                      <%- include("./partials/component-card", {component: component}) %>
                        <% }) %>
                  </div>
                  <% }) %>
                    <% } %>
                      <% } %>
                </div>
      </div>
    </div>
</body>

</html>